<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GooglePlacesAPIKey</key>
	<string>AIzaSyA3XQWrEG53TtgTS8NOF0VOj-tDwqc_3pI</string>
	<key>GoogleClientID</key>
	<string>227389070634-i469rkhhekfljm5tic6bpiik25dd3gpe.apps.googleusercontent.com</string>
	<key>FirebaseDBKey</key>
	<string>whileimhere-f7bb1</string>
</dict>
</plist>
